<head>
    <link href="/css/files.css" rel="stylesheet"> 
</head>

<div class="card" style="width: 18rem;">
    <img src="https://static.wikia.nocookie.net/shingekinokyojin/images/a/a1/Eren_Jaeger_%28Anime%29_character_image.png/revision/latest/scale-to-width-down/350?cb=20220123225500" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Rocky Marciano</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>