<head>
    <!-- Custom styles for this page-->
    <link href="css/files.css" rel="stylesheet"> 
</head>

<div class="container-fluid">

    <form class="form-inline">
        <div class="d-flex">
            <input class="form-control mr-1" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </form>

    <div class="py-3"></div>

    <!-- Files Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">FILES</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#addCategory">
            + Add File
        </a>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="file-card">
                <img src="https://media.istockphoto.com/vectors/contract-or-document-signing-icon-document-folder-with-stamp-and-text-vector-id1179640294?k=20&m=1179640294&s=612x612&w=0&h=O2IBtlV52-6gWSAeyozPIFkfZ-LzHnpXBw2tOuUToj8=" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1667px-PDF_file_icon.svg.png" alt="user" class="profile-photo-lg">
                <div class="friend-info">
                <a href="#" class="pull-right text-green">PDF File</a>
                <h5><a href="timeline.html" class="profile-link">Report.pdf</a></h5>
                <p>Uploaded : 12/2/2022</p>
                </div>
            </div>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-6">
            <div class="file-card">
                <img src="https://media.istockphoto.com/vectors/contract-or-document-signing-icon-document-folder-with-stamp-and-text-vector-id1179640294?k=20&m=1179640294&s=612x612&w=0&h=O2IBtlV52-6gWSAeyozPIFkfZ-LzHnpXBw2tOuUToj8=" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1667px-PDF_file_icon.svg.png" alt="user" class="profile-photo-lg">
                <div class="friend-info">
                <a href="#" class="pull-right text-green">PDF File</a>
                <h5><a href="timeline.html" class="profile-link">Report.pdf</a></h5>
                <p>Uploaded : 12/2/2022</p>
                </div>
            </div>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-6">
            <div class="file-card">
                <img src="https://media.istockphoto.com/vectors/contract-or-document-signing-icon-document-folder-with-stamp-and-text-vector-id1179640294?k=20&m=1179640294&s=612x612&w=0&h=O2IBtlV52-6gWSAeyozPIFkfZ-LzHnpXBw2tOuUToj8=" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1667px-PDF_file_icon.svg.png" alt="user" class="profile-photo-lg">
                <div class="friend-info">
                <a href="#" class="pull-right text-green">PDF File</a>
                <h5><a href="timeline.html" class="profile-link">Report.pdf</a></h5>
                <p>Uploaded : 12/2/2022</p>
                </div>
            </div>
            </div>
        </div> 

    </div>
</div>