<head>
    <link href="/css/blockedUsers.css" rel="stylesheet"> 
</head>

{{#each blockedUsers}}
    <div class="BlockedUserCard card" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1d/Rocky_Marciano_Postcard_1953.jpg" class="unblockPhoto card-img-top " alt="image of user">
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title">{{this.displayName}}</h5>
            </div>
            <div class="text-center" style = "margin-top: 1.2rem;">
                 <a href="/user/unblockUser/{{this._id}}" class="unblockButton btn">Unblock</a>
            </div>
           
        </div>
    </div>
{{/each}}