<div class="side_bar_container d-flex"> 
    <div class="side_bar" id = "side_nav">
        <div class="header_box">
            <h1 class = "header_text"><span class= "bg-warning text-dark rounded shadow">MELDRIVE</span></h1>
        </div>
    </div>

    <div class = "content">
        
    </div>
</div>