<head>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form action="#" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="newName">New Name</label>
                    <input id="newName" type="text" name="newName" value="name">
                    <button type="submit">Change</button>
                </div>

            </form>

        </div>
        <div class="col-12">
            <form action="#" method="POST" enctype="multipart/form-data">

                <div>
                    <label for="profileImg">New Profile Image</label>
                    <input id="profileImg" type="file" name="profileImg">
                    <button type="submit">Change</button>
                </div>
            </form>

        </div>
        <div class="row">
            <div class="col-12">
                <form action="#" method="POST" enctype="multipart/form-data">
                    <div>
                        <label for="newStatus">New Status</label>
                        <input id="newStatus" type="text" name="newStatus" value="Status">
                        <button type="submit">Change</button>
                    </div>

                </form>
                <div class="row">
                    <div class="col-12">
                        <form action="#" method="POST">
                            <div>
                                <label for="newDescription">New Description</label>
                                <textarea id="newDescription" name="newDescription">description</textarea>
                                <button type="submit">Change</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>




        </div>