<head>
    <link rel="stylesheet" href="/css/editProfile.css">
</head>
<!-- The Froms to edit profile -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <!-- change name -->
            <form action="#" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="newName">New Name: </label>
                    <input id="newName" type="text" name="newName" value={{user.displayName}} style="margin-left:9%">
                    <button type="submit" style="margin-left: 9%;">Change</button>
                </div>
            </form>
        </div>
        <div class="py-4"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <!-- change profile image -->
            <form action="#" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="profileImg">New Profile Image:</label>
                    <input id="profileImg" type="file" name="profileImg" style="width:31.5%;margin-left: 2%;">
                    <button type="submit">Change</button>
                </div>
            </form>
        </div>
    </div>
    <div class="py-3"></div>
    <div class="row justify-content-center">
        <div class="col-6">
            <!-- change status -->
            <form action="/user/changeStatus/{{user._id}}" method="POST">
                <div>
                    <label for="newStatus" class="my-3" style="vertical-align: middle;">New Status:&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;<textarea id="newStatus" name="status" value = "{{user.status}}"></textarea> </label>
                    
                    <button type="submit" style="margin-left: 10%;">Change</button>
                </div>
            </form>
        </div>
    </div>
    <div class="py-3"></div>
    <div class="row justify-content-center">
        <div class="col-6">
            <!-- change description -->
            <form action="#" method="POST">
                <div>
                    <label for="newDescription">New Description: &nbsp; &nbsp; &nbsp; <textarea id="newDescription" name="newDescription">{{user.description}}</textarea></label>
                    <button type="submit" style="margin-left: 10%;">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>