<head>
    <link rel="stylesheet" href="/css/friends.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<div class="container">
    <!-- Categories Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">My Friends</h1>
        <a href="" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm " data-toggle="modal" data-target="#modalLoginForm">
            + Add Friend
        </a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" role="document">
            <div class="modal-content" >

                <div class="modal-header text-center">

                    <h4 class="modal-title w-100 font-weight-bold text-white">Add Friend</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </div>

                <div class="modal-body mx-3">

                    <!-- Form to search for new friends -->
                    <form action="/user/addNewFriend" method="POST">
                        <div class="md-form mb-5">
                            <label class="text-white"  data-error="wrong" data-success="right" for="defaultForm-email">Search Display Name</label>
                            <input type="text" id="email" name="email" class="form-control validate">
                        </div>
                        
                </div>

                <!--  Button to add new friends  -->
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark">Add Friend</button>
                </div>
    
            </div>
        </div>
    </div>


    <div class="friend-list">
        <div class="row">
            {{#each friends}}
                <div class="col-md-4 col-sm-6">
                    <div class="friend-card">
                        <img src="https://students.unimelb.edu.au/__data/assets/image/0004/3876916/Arts-West-Exterior.jpg" alt="profile-cover" class="img-responsive cover">
                        <div class="card-info">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                            <div class="friend-info">
                                <a href="#" class="pull-right text-green">My Friend</a>
                                <h5><a href="/profile/{{this._id}}" class="profile-link">{{this.displayName}}</a></h5>
                                <p>{{this.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>