<head>
    <link rel="stylesheet" href="css/friends.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<div class="container">
    <!-- Categories Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">My Friends</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="" data-toggle="modal" data-target="#modalLoginForm">
            + Add Friend
        </a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Add Friend</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body mx-3">

                    {{!-- FORM TO SEARCH NEW FRIEND --}}
                    <form action="">
                        <div class="md-form mb-5">
                            <input type="email" id="defaultForm-email" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="defaultForm-email">Search Name or Username</label>
                        </div>
                    </form>     
                </div>

                {{!-- BUTTON TO ADD NEW FRIEND --}}
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-default">Add Friend</button>
                </div>
            </div>
        </div>
    </div>


    <div class="friend-list">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="friend-card">
                    <img src="https://students.unimelb.edu.au/__data/assets/image/0004/3876916/Arts-West-Exterior.jpg" alt="profile-cover" class="img-responsive cover">
                    <div class="card-info">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                        <div class="friend-info">
                            <a href="#" class="pull-right text-green">My Friend</a>
                            <h5><a href="timeline.html" class="profile-link">Harry Empson</a></h5>
                            <p>Student at UniMelb</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="friend-card">
                    <img src="https://students.unimelb.edu.au/__data/assets/image/0005/3876800/WEBS.png" alt="profile-cover" class="img-responsive cover">
                    <div class="card-info">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="profile-photo-lg">
                        <div class="friend-info">
                            <a href="#" class="pull-right text-green">My Friend</a>
                            <h5><a href="timeline.html" class="profile-link">Brian Hisa</a></h5>
                            <p>Student at Harvard</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="friend-card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTd_LWtTof9Ov-xKo-dqAyV0dKO2VsdasQvqaAJXrBXEmbAlt8w9ZPFvg-CcKujqc2Ep8&usqp=CAU" alt="profile-cover" class="img-responsive cover">
                    <div class="card-info">
                        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="user" class="profile-photo-lg">
                        <div class="friend-info">
                            <a href="#" class="pull-right text-green">My Friend</a>
                            <h5><a href="timeline.html" class="profile-link">Jonathan</a></h5>
                            <p>Student at UniMelb</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="friend-card">
                    <img src="https://via.placeholder.com/400x100/228B22" alt="profile-cover" class="img-responsive cover">
                    <div class="card-info">
                        <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="user" class="profile-photo-lg">
                        <div class="friend-info">
                            <a href="#" class="pull-right text-green">My Friend</a>
                            <h5><a href="timeline.html" class="profile-link">Raphael Chen</a></h5>
                            <p>Student</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="friend-card">
                    <img src="https://via.placeholder.com/400x100/20B2AA" alt="profile-cover" class="img-responsive cover">
                    <div class="card-info">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" class="profile-photo-lg">
                        <div class="friend-info">
                            <a href="#" class="pull-right text-green">My Friend</a>
                            <h5><a href="timeline.html" class="profile-link">Suren</a></h5>
                            <p>Student at UniMelb</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="friend-card">
                    <img src="https://via.placeholder.com/400x100/FF4500" alt="profile-cover" class="img-responsive cover">
                    <div class="card-info">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" class="profile-photo-lg">
                        <div class="friend-info">
                            <a href="#" class="pull-right text-green">My Friend</a>
                            <h5><a href="timeline.html" class="profile-link">Jack Lee</a></h5>
                            <p>Student at Harvard</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>