<head>
    <link rel="stylesheet" href="css/login.css">
</head>

<div class = "login_container">
    <h1>Meldrive</h1>
    <form autocomplete = "off" action="/user/login" method = "POST">
        <div class = "text_form">
            <input placeholder = "Username" type = "text" id = "username" name="username">
            <span></span>
            
        </div>

        <div class = "text_form">
            <input placeholder ="Password" type = "text" id = "password" name="password">
            <span></span>
            
        </div>

        <input type = "submit" value = "log-in">
    </form>

</div>

