<div class = "login_container">
    <h1>Meldrive</h1>
    <form method = post>
        <div class = "text_form">
            <input type = "text" required>
            <span></span>
            <label>Username</label>
        </div>

        <div class = "text_form">
            <input type = "text" required>
            <span></span>
            <label>Password</label>
        </div>

        <input type = "submit" value = "log-in">
    </form>

</div>