<div class="container">
    <div class = "row d-flex justify-content-center">
        <div class="col-md-10 mt-5 pt-5">
            <div class = "col-sm-4"> </div>

            <div class = 'fs-2'>Name</div>
            <div class = >Raphael Chen</div>

            <div class = 'fs-2'>Status Message</div>
            <div class = >online</div>

            <div class = 'fs-2'>Description</div>
            <div class = >Machine Learning Master Raphael Chen</div>
        </div>

    </div>
    <div class = "upload-container">
            <a>Testing</a>
    </div>
</div>