<head>
    <link rel="stylesheet" href="css/profile.css">
</head>
<section class="vh-100">
    <div class = "container-lg">
        <div class="row  justify-content-center h-100">
            <div class="col col-sm-8 col-lg-6 text-lg-right text-sm-center align-self-center"> 
                <p class="lead display-6"> Lewis Hamilton &nbsp&nbsp&nbsp</p>
            </div> 

            <div class = "col-sm-12 col-lg-6 text-sm-center text-lg-left"> 
                <img src="https://www.sportscasting.com/wp-content/uploads/2020/08/Lewis-Hamilton-Smiling.jpg"
                  alt="Generic placeholder image" class="img-fluid rounded-circle  custom_border" 
                  style="width: 12rem; border-opacity: 0.7; margin:6px;">
            </div>
        </div>
    </div>
</section>