<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h1>Live search Test</h1>

    <input type="text" id = "search-box" onkeyup="sendData(this)">

    <script>
        function sendData(search) {
            fetch('/posts/getPosts', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({payload: search.value})
            }).then(res => res.json()).then(data => {
                let payload = data.payload;
                console.log(payload)
            })
        }
    </script>
</body>
</html>