.unblockPhoto {
    height: 12rem;
    align-items: center;
}

.unblockButton {
    background-color: green;
    color:aliceblue;
}

.BlockedUserCard{
    box-shadow: 0px 0px 5px #888888;
    margin: 2% 4% 2% 4%;
}
