.modal-content {
    background: linear-gradient(60deg, var(--color-taupe) , var(--color-pink));;
}

.text-white {
    margin-bottom: 1rem;
  }

.dropdown-menu{
    background-color: var(--color-lightBlue);
}

.renameCard {
    cursor: pointer;
}