@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');

body {
    background-color: #dbdada20;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

.search-button {
    margin-top: 2rem;
    margin-left: 5%;
}


@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/*-- Reset Bootsrap --*/
.dropdown-toggle::after {
    content: none;
    display: none;
}


.text-red {
    color: red;
    font-size: 0.75rem;
    margin-top: 1.0rem;
}

.modal-footer {
    justify-content: flex-start;
    padding-left: 2.5rem;
}
.py-2 + .card-body{
    padding: 0%;
}
option{
    background-color: #9CC3D5FF;
}
