label textarea{
    vertical-align: top;
}


body {
    display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	background-color: #f5f5f5;
}

.btn {
    margin-left: 2rem;
}

.Container {
    margin: auto;
    width: 100%
}

.editProfileForm {
    width: 800px;
	margin: auto;
    display: flex;
}

.form {
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.row {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 12px 6px 8px 2px;
}
#statusRow {
    padding-top: 18px;
}

.card-title {
    padding-bottom: 4px;
}

/* textarea{
    margin-left: 10%;
} */