img.profile-photo-md {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


/*==================================================
  Friend List CSS
  ==================================================*/

.friend-card{
  border-radius: 4px;
  border-bottom: 1px solid #f1f2f2;
  overflow: hidden;
  margin-bottom: 20px;
}

.friend-card .img-responsive{
    height: 100px;
    width: 400px;
}


.friend-card .card-info{
  padding: 0 20px 10px;
}

.friend-card .card-info img.profile-photo-lg{
  margin-top: -60px;
  border: 7px solid #fff;
}

img.profile-photo-lg {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.text-green {
    color: #8dc63f;
}

