.upload-containter {
    background-color: aquamarine;
    grid-template-columns: 2 2 2 2;
    max-width: 80vw;
    border-radius: 15rem;
    border-color: brown;
}

.custom_border {
    border: 2px solid rgba(57, 165, 223, 0.3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.status-container {
    width:15rem;
    height: 3rem;
    padding: 10px 0;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    border-width: 1px;
    background-color: var(--color-lightgray);
    text-align: center;
}

.description-container{
    width:30rem;
    height: 10rem;
    padding: 10px 0;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    border-width: 1px;
    background-color: var(--color-lightgray);
    text-align: center;
    
}

hr { 
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

.modal .tag-container-1 {
    border: 2px solid rgba(106, 27, 189,0.4);
    border-radius: 10px;
    border-width: 1px;
    width: 100%;
    background-color: #9CC3D5FF;
    color:#0063B2FF;
    text-align: center;
    padding: 3px 2px;
    margin-top: 0.2rem;
}

.tag-container-2 {
    border: 2px solid rgba(106, 27, 189,0.4);
    border-radius: 10px;
    border-width: 1px;
    width: 100%;
    background-color: #F2EDD7FF;
    color: #755139FF;
    text-align: center;
    padding: 3px 2px;
    margin-top: 0.2rem;
  
}

.post-content-container {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    border-width: 1px;
}
.modal-content img {
    border-radius: 2rem;
}

small {
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
}

.time {
margin-left: 8%;
}

.small-text {
    margin-top: 3px;
}

.category {
    margin-left: 3%;
}

.comment {
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
}
.image-cropper {
    width: 150px;
    height: 150px;
    position:relative;
    margin-left: 5%;
    overflow:hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
}


.fileImage-container {
    width: 100%;
    height: 18rem;
    justify-content: center;
}
.profile-img {
    display: block;
    margin: auto;
    object-fit:cover;
    height:100%;
    width:auto;
}


.small-text a {
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif; 
    
}

.box {
    width:100px;
    height: 100px;
    background-color: antiquewhite;
}

.bold-text {
    font-size:18px;
    font-weight: bold;
}