@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');

:root {
    --color-bg: #40798c;
    --color-bg-variant: #5c80BC;
    --color-black: #0D1321;
    --color-primary: #AFE0CE;
    --color-primary-variant: #4d5061;
    --color-white: white;
    --color-light: #FFEDDF;
    --color-green: #c5D864;
    --color-pink: #CCA7A2;
    --color-taupe: #86615c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Raleway", serif;
    min-height: 100vh;
    background: linear-gradient(60deg, var(--color-bg), transparent, var(--color-primary));
    color: var(--color-black);
}

.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: #5195b9;
    transition: 0.4s;
}

.nav-link {
    font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
}

.dropdown-menu {
    background-color: var(--color-bg-variant);
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #ffffff26;
}

.my-container {
    transition: 0.4s;
}


/* for navbar */

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color: linear-gradient(60deg, var(--color-bg), transparent, var(--color-green));
    color: rgb(0, 0, 0);
    box-shadow: 0 0 0 0.25rem #7952b344;
}


#menu-btn:hover {
    background-color: #A8D0E6
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.form-inline {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
}